/*	Pour pouvoir utiliser une hauteur (height) ou une hauteur minimale
	(min-height) sur un bloc, il faut que son parent direct ait lui-même une
	hauteur déterminée (donc toute valeur de height sauf "auto": hauteur en
	pixels, em, autres unités...).
	Si la hauteur du parent est en pourcentage, elle se réfère alors à la
	hauteur du «grand-père», et ainsi de suite.
	Ainsi, pour pouvoir utiliser un "min-height: 100%" sur div#global, il nous
	faut:
	- un parent (body) en "height: 100%";
	- le parent de body également en "height: 100%". */
html, body {
	height: 100%;
}

body {
    color: #bfbfbf;
    background: black;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

a {
	color: #bfbfbf;
}

a:hover, a:focus {
    color: crimson;
}

nav {
    float: right;
    margin-left: 20px;
}

h1 {
    color: white;
}

#global {
    min-height: 100%;  /* Voir commentaire sur html et body en haut de la feuille de style */
    background: #333534;
    width: 60%;
    margin: auto;	/* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom : 30px;
    overflow: hidden;   /* Evite au bloc central de glisser sous le menu latéral 
						   (alternative à la définition de marges pour ces blocs) */
}

#titreBlog, #piedBlog {
    text-align: center;
}

.titreBillet {
    margin-bottom : 0px;
}

.titreBillet a {
    color: white;
    text-decoration: none;  /* Désactive le soulignement des liens vers les billets */
}

.commentaire {
    text-align: right;
}

#titreReponses {
    font-size : 100%;
}